@import '~@fortawesome/fontawesome-free/css/all.min.css';

*,
*::before,
*::after{
    box-sizing: border-box;
}
*{
    padding:0;
    margin:0;
}
.gpt3__header{
display:flex;
}

.gpt3__header-content{
    flex:1;
    display:flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction:column;
    margin-right:5px;
}
.gpt3__header-content h1{
    font-family:var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -2.48px;
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gpt3__header-content > p{
    font-family:var(--font-family);
    font-size: 20px;
    line-height:27px;
    color: var(--color-text);
    margin-top:1.5rem;
}
.gpt3__header-content__input{
    width:100%;
    margin: 2rem 0 1rem;
    display:flex;
}
.gpt3__header-content__input input{
    flex:2;
    width:100%;
    min-height:50px;
    background: var(--color-footer);
    border-radius: 5px 0px 0px 5px;
    border:2px solid var(--color-footer);
    outline:none;
    line-height: 27px;
    color: #fff;
    font-family: var(--font-family);
    font-size: 20px;
}
.gpt3__header-content__input input::placeholder{
    color: #3D6184;
    padding-left: 10px;
}
.gpt3__header-content__input button{
    flex:.7;
    width:100%;
    min-height:50px;
    color: #FFF;
    font-family: var(--font-family);
    font-size: 20px;
    border: none;
    outline:none;
    border-radius: 0px 5px 5px 0px;
    background:var(--color-button);
    padding:0 1rem;
    cursor:pointer;
}

/* button effect  */
.effect { 
    display: inline-block;
    position: relative;
    text-transform: capitalize;
    background-color:var(--color-button);
    padding: 20px 0px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  .effect::before {
    content: "\f054"; /* Unicode for FontAwesome 'angle-right' */
    font-family: "Font Awesome 5 Free"; /* Ensure FontAwesome is applied */
    font-weight: 900; /* Required for solid icons */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 30px;
    background-color:rgba(255, 232, 232, 0.405);
    border-radius: 0 50% 50% 0;
    transform: scale(0,1);
    transform-origin: left center;
    transition: all 0.3s ease-in-out;
  }
  
  .effect:hover::before {
    transform: scale(1,1);
  }
  
  

.gpt3__header-content__people{
    width:100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin-top:2rem;
}
.gpt3__header-content__people img{
    height: 38px;
    width: 183px;
}
.gpt3__header-content__people > p{
    font-family:var(--font-family);
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin-left:1rem;
    line-height: 40px; 
    color: #FFF;
}
.gpt3__header-image{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.gpt3__header-image img{
    width:100%;
    height:auto;
}


@media screen and (max-width:1070px){
    .gpt3__header{
        flex-direction: column;
    }
    .gpt3__header-content{
        margin:0 0 3rem;
    }
}
@media screen and (max-width:750px){
    .gpt3__header h1{
        font-size: 48px;
        line-height:60px;
    }
    .gpt3__header-content > p{
        font-size:16px;
        line-height: 24px;
    }
    .gpt3__header-content__people{
        flex-direction: column;
    }
    .gpt3__header-content__people p{
        margin:0;
    }
    .gpt3__header-content__input input,
    .gpt3__header-content__input button{
        font-size:13px;
        
    }
    .effect:hover{
        text-indent: 10px;
    }
}
@media screen and (max-width:550px){
    div > .gpt3__header {
        padding:2rem 1rem;
    }
    .gpt3__header h1{
        font-size: 36px;
        line-height: 48px;
    }
    .gpt3__header-content p{
        font-size: 14px;
    }
    .gpt3__header-content__input input,
    .gpt3__header-content__input button{
        font-size:14px;
    }
}



